<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create New Password</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4 form">
          <form action="/new-password" method="POST" autocomplete="">
            <h2 class="text-center">Create New Password</h2>
            <p class="text-center">Enter your new password</p>
            <% if (errors.length === 1) { %>
            <div class="alert alert-danger text-center"><%= errors[0] %></div>
            <% } else if (errors.length > 1) { %>
            <div class="alert alert-danger">
              <ul>
                <% errors.forEach(function(error) { %>
                <li><%= error %></li>
                <% }) %>
              </ul>
            </div>
            <% } %> <% if (info) { %>
            <div class="alert alert-success text-center"><%= info %></div>
            <% } %>
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                name="password"
                placeholder="Enter new password"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                name="cpassword"
                placeholder="Confirm new password"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control button"
                type="submit"
                name="change-password"
                value="Change Password"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
