<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Refresh"
      content="0; URL=http://localhost/EmailVerification/adminlogin/welcome"
    />
    <title>Delete Record</title>
  </head>
  <body>
    <% if (success) { %>
    <span>Record deleted successfully</span>
    <% } else { %>
    <font color="red">Failed to delete!</font>
    <% } %>
  </body>
</html>
